In [1]:
# Libraries
import pandas as pd

# Credit Risk Analysis - Data cleansing<br>

The objective of this analysis is to understand which are the factors that are more effecting the probability of having an high credit risk of a given company, using initially only the data of the explanatory variables of previous year to predict the credit risk of the consequent one (true values vs forecasts). <br>
Then it can be added new explanatory variables 'delayed' e.g. leverage of two years, three years, (...) before. <br>
In this specific notebook the original dataset will be imported, then some data cleansing will be applied in order to obtain a clearer dataset to work with in the following steps.


**Financial Data Science (UniPV) - Prof. Paolo Giudici** <br>
*Computer Engineering (Data Science) - A.Y. 2022/23* <br>
*Francesco Amato, 507767*

#### Data import and brief statistics

In [2]:
# Select from the excel file all the sheets and append one each other
xls_file = pd.ExcelFile('../datasets/credit-risk.xlsx')
data = pd.read_excel(xls_file, sheet_name = [name for name in xls_file.sheet_names 
                                            if name not in ('Description','Sheet8')])

companies_df = pd.DataFrame()
for n_rows in ('1-20k', '20k-40k', '40k-60k', '60k-80k', '80k-100k', '100k-121k'):
    companies_df = companies_df.append(data[n_rows])
companies_df

,No,Company name,Turnover.2020,Turnover.2019,Turnover.2018,Turnover.2017,Turnover.2016,Turnover.2015,EBIT.2020,EBIT.2019,...,ROE.2018,ROE.2017,ROE.2016,ROE.2015,TAsset.2020,TAsset.2019,TAsset.2018,TAsset.2017,TAsset.2016,TAsset.2015
0,1,LENDLEASE S.R.L.,29458,16716,9612,8097,7941.0,5600.0,-1556.0,-4540.0,...,8.24,-146.65,60.76,-471.72,49263,28268,15455,15992,13597.0,11659.0
1,2,PRICEWATERHOUSECOOPERS BUSINESS SERVICES SRL (...,16731,16403,16843,12241,9252.0,9515.0,1838.0,841.0,...,61.42,-55.57,-127.29,-87.13,16550,16887,16468,10773,6697.0,8933.0
2,3,EVISO S.P.A.,48568,43039,34302,25791,19760.0,6941.0,1661.0,1464.0,...,57.52,42.73,20.34,44.62,13500,9620,7371,5432,4170.0,2862.0
3,4,CASA SERVICE MACHINE,47999,43484,43043,41682,51267.0,52584.0,416.0,255.0,...,-17.24,0.71,2.89,6.45,24978,25032,25729,21632,25403.0,24941.0
4,5,PANFERTIL SPA,45948,47336,45626,48222,57074.0,62263.0,44.0,713.0,...,-5.17,-6.74,0.03,-8.19,36823,34659,36205,38423,41847.0,41323.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21249,21250,ASTOR VILLAGE S.R.L.,3161,4635,4742,4499,4277.0,3650.0,985.0,1818.0,...,11.01,8.44,7.83,6.31,15935,15664,14438,13054,12243.0,11695.0
21250,21251,ODONE & SLOA S.R.L.,3161,2562,2559,2334,3692.0,2537.0,60.0,101.0,...,0.62,-4.80,-7.85,-12.84,2487,2317,2351,2521,2797.0,3152.0
21251,21252,GARRIDO MURO SOCIEDAD LIMITADA,3161,3146,2989,3101,2746.0,3154.0,260.0,13.0,...,1.88,3.10,2.90,5.62,2547,1855,1692,1843,1773.0,1699.0
21252,21253,CENTRO INGROSSO JOLLY S.R.L.,3161,2519,2290,2244,1761.0,1821.0,74.0,48.0,...,3.74,3.54,18.85,0.58,2961,2552,2604,2474,1546.0,1222.0
21253,21254,SALONES COMATEL SL,3161,4514,4435,4231,3908.0,2051.0,194.0,733.0,...,15.59,25.60,40.55,-9.98,3576,4259,4747,3993,3027.0,2333.0

In [3]:
# Show the columns names
companies_df.columns.to_list()

['No',
 'Company name',
 'Turnover.2020',
 'Turnover.2019',
 'Turnover.2018',
 'Turnover.2017',
 'Turnover.2016',
 'Turnover.2015',
 'EBIT.2020',
 'EBIT.2019',
 'EBIT.2018',
 'EBIT.2017',
 'EBIT.2016',
 'EBIT.2015',
 'PLTax.2020',
 'PLTax.2019',
 'PLTax.2018',
 'PLTax.2017',
 'PLTax.2016',
 'PLTax.2015',
 'MScore.2020',
 'MScore.2019',
 'MScore.2018',
 'MScore.2017',
 'MScore.2016',
 'MScore.2015',
 'Region',
 'Country',
 'NACE code',
 'Sector 1',
 'Sector 2',
 'Leverage.2020',
 'Leverage.2019',
 'Leverage.2018',
 'Leverage.2017',
 'Leverage.2016',
 'Leverage.2015',
 'ROE.2020',
 'ROE.2019',
 'ROE.2018',
 'ROE.2017',
 'ROE.2016',
 'ROE.2015',
 'TAsset.2020',
 'TAsset.2019',
 'TAsset.2018',
 'TAsset.2017',
 'TAsset.2016',
 'TAsset.2015']

We have, for each company (from 2015 to 2020), the following details:
- **Name**: name of the company <br><br>
- **Turnover**: an accounting concept that calculates how quickly a business conducts its operations. <br> Most often, it is used to understand how quickly a company collects cash from accounts receivable or how fast the company sells its inventory <br><br>
- **EBIT**: Earnings Before Interest and Taxes (EBIT) is an indicator of a company's profitability <br><br>
- **PLTax**: Principal Lifetime income Tax is a new type of tax (proposal) that would tax a person/company based on their cumulative income over their lifetime up until the filing date <br><br>
- **MScore**: credit risk level of the company (from AAA to D, where D is the highest credit risk level reachable). <br><br>
- **Region**: city where the company resides <br><br>
- **Country**: worldwide country of the company <br><br>
- **NACE code**: is the European statistical classification of economic activities. <br> NACE groups organizations according to their business activities <br><br>
- **Sector 1**: very detailed description of the company's business activities (e.g., activities of head offices - management consult; manufacture of leather and related products; wholesale trade - except of motor vehicles; ...) <br><br>
- **Sector 2**: more general sector membership (e.g., capital goods; energy; diversified finance; ...) <br><br>
- **Leverage**: a strategy that companies use to increase assets, cash flows, and returns, though it can also magnify losses.<br> There are two main types of leverage: financial and operating. <br> To increase financial leverage, a firm may borrow capital through issuing fixed-income securities or by borrowing money directly from a lender <br><br>
- **ROE**: Return on Equity (ROE) is the measure of a company’s annual return (net income) divided by the value of its total shareholders’ equity, expressed as a percentage. <br> Alternatively, ROE can also be derived by dividing the firm’s dividend growth rate by its earnings retention rate <br><br>
- **TAsset**: Total Assets, most commonly used in the context of a corporation, are defined as the assets owned by the entity that has an economic value whose benefits can be derived in the future <br><br>

In [4]:
# Describe brief statistic about the entire dataset
companies_df.describe()

,No,Turnover.2020,Turnover.2019,Turnover.2018,Turnover.2017,Turnover.2016,Turnover.2015,EBIT.2020,EBIT.2019,EBIT.2018,...,ROE.2018,ROE.2017,ROE.2016,ROE.2015,TAsset.2020,TAsset.2019,TAsset.2018,TAsset.2017,TAsset.2016,TAsset.2015
count,121253.000000,121253.000000,121253.000000,121253.000000,121253.000000,121176.000000,1.211080e+05,121249.000000,121252.000000,121252.000000,...,121239.000000,121246.000000,121181.000000,121180.000000,1.212530e+05,1.212530e+05,1.212530e+05,1.212530e+05,1.212090e+05,1.212040e+05
mean,10110.366259,10857.198313,11571.907903,11147.202164,10545.611812,9864.284776,9.416949e+03,504.857203,586.141820,569.848910,...,36.877294,16.076334,16.060269,1.693177,1.301078e+04,1.218059e+04,1.177646e+04,1.131364e+04,1.075000e+04,1.031990e+04
std,5843.476583,9101.352870,9544.166163,9293.686070,8966.629317,8935.990541,9.942035e+03,2086.001182,1797.540232,1949.423069,...,4668.108915,1997.679619,1693.639336,5216.355970,3.119684e+04,2.971044e+04,2.922767e+04,2.866877e+04,2.857112e+04,2.859595e+04
min,1.000000,2058.000000,2003.000000,2000.000000,2000.000000,0.000000,0.000000e+00,-322920.000000,-139167.000000,-188057.000000,...,-369200.000000,-450687.370000,-277108.820000,-1000000.000000,7.100000e+01,5.300000e+01,3.700000e+01,8.600000e+01,0.000000e+00,0.000000e+00
25%,5053.000000,4546.000000,4910.000000,4700.000000,4383.000000,3996.000000,3.689000e+03,60.000000,86.000000,87.000000,...,3.650000,3.810000,3.380000,2.830000,3.465000e+03,3.174000e+03,2.997000e+03,2.790000e+03,2.517000e+03,2.259000e+03
50%,10105.000000,7193.000000,7825.000000,7518.000000,7081.000000,6537.000000,6.157000e+03,253.000000,270.000000,265.000000,...,11.350000,11.900000,11.320000,10.660000,6.344000e+03,5.858000e+03,5.579000e+03,5.252000e+03,4.830000e+03,4.474500e+03
75%,15157.000000,13680.000000,14753.000000,14208.000000,13401.000000,12463.000000,1.185625e+04,698.000000,717.000000,693.000000,...,23.590000,24.830000,24.600000,24.560000,1.284300e+04,1.192900e+04,1.147500e+04,1.087100e+04,1.013900e+04,9.552000e+03
max,21254.000000,49993.000000,49997.000000,49979.000000,49996.000000,294752.000000,1.188225e+06,45155.000000,99633.000000,70371.000000,...,1000000.000000,287359.790000,365858.980000,1000000.000000,3.109756e+06,2.597637e+06,2.104548e+06,1.953757e+06,1.993535e+06,2.032843e+06

#### Are there NaN or other strange values?

In [5]:
companies_df.isna().sum().to_frame()

                 0
No               0
Company name     1
Turnover.2020    0
Turnover.2019    0
Turnover.2018    0
Turnover.2017    0
Turnover.2016   77
Turnover.2015  145
EBIT.2020        4
EBIT.2019        1
EBIT.2018        1
EBIT.2017        1
EBIT.2016       46
EBIT.2015       50
PLTax.2020       2
PLTax.2019       2
PLTax.2018       2
PLTax.2017       2
PLTax.2016      49
PLTax.2015      51
MScore.2020      0
MScore.2019      0
MScore.2018      0
MScore.2017      0
MScore.2016      0
MScore.2015      0
Region           1
Country          0
NACE code        0
Sector 1         0
Sector 2         0
Leverage.2020    0
Leverage.2019    0
Leverage.2018    0
Leverage.2017    0
Leverage.2016    0
Leverage.2015    0
ROE.2020         6
ROE.2019        15
ROE.2018        14
ROE.2017         7
ROE.2016        72
ROE.2015        73
TAsset.2020      0
TAsset.2019      0
TAsset.2018      0
TAsset.2017      0
TAsset.2016     44
TAsset.2015     49

In [6]:
original_len = int(len(companies_df))
companies_df = companies_df.dropna()
print('Removed rows:', str(original_len - int(len(companies_df))))

Removed rows: 245

#### Store the dataset permanently

In [7]:
del companies_df['No']
companies_df.to_csv('../datasets/cleaned-credit-risk.tar.gz', index=False)